.content-single {
  position: relative;
  .parallax {
    position: relative;
    display: block;
    margin: -16vh auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-position: 50% 0;
    background-size: cover;
  }
  .the-title {
    background-color: var(--light);
  }
  .the-content {
    background-color: var(--white);
    .post-details {
      .post-author {
        a {
          color: var(--primary-text-color);
        }
        .text-muted {
          font-size: .875rem;
        }
      }
      .post-date,
      .post-format,
      .post-categories,
      .post-tags {
        > span {
          font-size: .875rem;
        }
        > p {
          a {
            color: var(--primary-text-color);
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .the-content-attachment {
    margin: 0 auto;
  }
}
