
@import 'C:/Users/Neo/AppData/Roaming/npm/node_modules/nib/lib/nib';

/* ******* global styles ******* */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: white;
  color: #333;
  cursor: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

a {
  background-color: transparent;
  outline: 0;

  &:hover {
    cursor: pointer;
  }

}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; 
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.hide {
  display: none;
}

.clearfix {

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

}

/* ******* row styles ******* */

.row {
  margin: 0 auto;
  width: 100%;
  max-width: 62.5em;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  &.collapse {

    & > .column,
    & > .columns {
      padding-left: 0;
      padding-right: 0; 
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }

  }

  .row {
    margin: 0 -0.625em;
    width: auto;
    max-width: none;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

    &.collapse {
      margin: 0;
      width: auto;
      max-width: none;

      &:before,
      &:after {
        content: " ";
        display: table;
      }

      &:after {
        clear: both;
      }

    }

  }

}

/* ******* column ******* */

.column,
.columns {
  float: left;
  padding-left: 0.625em;
  padding-right: 0.625em;
  width: 100%;
}

.column + .column:last-child,
.column + .columns:last-child,
.columns + .column:last-child,
.columns + .columns:last-child {
  float: right;
}

.column + .column.end,
.column + .columns.end,
.columns + .column.end,
.columns + .columns.end {
  float: left;
}

/* ******* small screen ******* */

@media only screen {

  .small-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .small-1 {
    width: 8.33333%;
  }

  .small-2 {
    width: 16.66667%;
  }

  .small-3 {
    width: 25%;
  }

  .small-4 {
    width: 33.33333%;
  }

  .small-5 {
    width: 41.66667%;
  }

  .small-6 {
    width: 50%;
  }

  .small-7 {
    width: 58.33333%;
  }

  .small-8 {
    width: 66.66667%;
  }

  .small-9 {
    width: 75%;
  }

  .small-10 {
    width: 83.33333%;
  }

  .small-11 {
    width: 91.66667%;
  }

  .small-12 {
    width: 100%;
  }

  .small-offset-0 {
    margin-left: 0% !important;
  }

  .small-offset-1 {
    margin-left: 8.33333% !important;
  }

  .small-offset-2 {
    margin-left: 16.66667% !important;
  }

  .small-offset-3 {
    margin-left: 25% !important;
  }

  .small-offset-4 {
    margin-left: 33.33333% !important;
  }

  .small-offset-5 {
    margin-left: 41.66667% !important;
  }

  .small-offset-6 {
    margin-left: 50% !important;
  }

  .small-offset-7 {
    margin-left: 58.33333% !important;
  }

  .small-offset-8 {
    margin-left: 66.66667% !important;
  }

  .small-offset-9 {
    margin-left: 75% !important;
  }

  .small-offset-10 {
    margin-left: 83.33333% !important;
  }

  .small-offset-11 {
    margin-left: 91.66667% !important;
  }

  .small-reset-order {
    float: left;
    left: auto;
    right: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .column,
  .columns {
    float: left;
    position: relative;
    padding-left: 0.625em;
    padding-right: 0.625em;

    &.small-centered {
      margin-left: auto;
      margin-right: auto;
      float: none;

      &:last-child {
        float: none;
      }

    }

    &.small-uncentered {
      float: left;
      margin-left: 0;
      margin-right: 0;

      &:last-child{
        float: left;
      }

      &.opposite {
        float: right;
      }

    }

  }

  .row {

    &.small-collapse {

      .row {
        margin-left: 0;
        margin-right: 0;
      }

      & > .column,
      & > .columns {
        padding-left: 0;
        padding-right: 0;
      }

    }

    &.small-uncollapse {

      & > .column,
      & > .columns {
        float: left;
        padding-left: 0.625em;
        padding-right: 0.625em;
      }

    }

  }

}

/* ******* medium screen ******* */

@media only screen and (min-width: 40.063em) {

  .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .medium-1 {
    width: 8.33333%;
  }

  .medium-2 {
    width: 16.66667%;
  }

  .medium-3 {
    width: 25%;
  }

  .medium-4 {
    width: 33.33333%;
  }

  .medium-5 {
    width: 41.66667%;
  }

  .medium-6 {
    width: 50%;
  }

  .medium-7 {
    width: 58.33333%;
  }

  .medium-8 {
    width: 66.66667%;
  }

  .medium-9 {
    width: 75%;
  }

  .medium-10 {
    width: 83.33333%;
  }

  .medium-11 {
    width: 91.66667%;
  }

  .medium-12 {
    width: 100%;
  }

  .medium-offset-0 {
    margin-left: 0% !important;
  }

  .medium-offset-1 {
    margin-left: 8.33333% !important;
  }

  .medium-offset-2 {
    margin-left: 16.66667% !important;
  }

  .medium-offset-3 {
    margin-left: 25% !important;
  }

  .medium-offset-4 {
    margin-left: 33.33333% !important;
  }

  .medium-offset-5 {
    margin-left: 41.66667% !important;
  }

  .medium-offset-6 {
    margin-left: 50% !important;
  }

  .medium-offset-7 {
    margin-left: 58.33333% !important;
  }

  .medium-offset-8 {
    margin-left: 66.66667% !important;
  }

  .medium-offset-9 {
    margin-left: 75% !important;
  }

  .medium-offset-10 {
    margin-left: 83.33333% !important;
  }

  .medium-offset-11 {
    margin-left: 91.66667% !important;
  }

  .medium-reset-order {
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto;
    float: left;
  }

  .column,
  .columns {
    float: left;
    position: relative;
    padding-left: 0.625em;
    padding-right: 0.625em;

    &.medium-centered {
      float: none;
      margin-left: auto;
      margin-right: auto;

      &:last-child {
        float: none;
      }

    }

    &.medium-uncentered {
      float: left;
      margin-left: 0;
      margin-right: 0;

      &:last-child {
        float: left;
      }

      &.opposite {
        float: right;
      }

    }

  }

  .row {

    &.medium-collapse {

      .row {
        margin-left: 0;
        margin-right: 0;
      }

      & > .column,
      & > .columns {
        padding-left: 0;
        padding-right: 0;
      }

    }

    &.medium-uncollapse {

      & > .column,
      & > .columns {
        float: left;
        padding-left: 0.625em;
        padding-right: 0.625em;
      }

    }

  }

  .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

}

/* ******* large screen ******* */

@media only screen and (min-width: 64.063em) {

  .large-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .large-1 {
    width: 8.33333%;
  }

  .large-2 {
    width: 16.66667%;
  }

  .large-3 {
    width: 25%;
  }

  .large-4 {
    width: 33.33333%;
  }

  .large-5 {
    width: 41.66667%;
  }

  .large-6 {
    width: 50%;
  }

  .large-7 {
    width: 58.33333%;
  }

  .large-8 {
    width: 66.66667%;
  }

  .large-9 {
    width: 75%;
  }

  .large-10 {
    width: 83.33333%;
  }

  .large-11 {
    width: 91.66667%;
  }

  .large-12 {
    width: 100%;
  }

  .large-offset-0 {
    margin-left: 0% !important;
  }

  .large-offset-1 {
    margin-left: 8.33333% !important;
  }

  .large-offset-2 {
    margin-left: 16.66667% !important;
  }

  .large-offset-3 {
    margin-left: 25% !important;
  }

  .large-offset-4 {
    margin-left: 33.33333% !important;
  }

  .large-offset-5 {
    margin-left: 41.66667% !important;
  }

  .large-offset-6 {
    margin-left: 50% !important;
  }

  .large-offset-7 {
    margin-left: 58.33333% !important;
  }

  .large-offset-8 {
    margin-left: 66.66667% !important;
  }

  .large-offset-9 {
    margin-left: 75% !important;
  }

  .large-offset-10 {
    margin-left: 83.33333% !important;
  }

  .large-offset-11 {
    margin-left: 91.66667% !important;
  }

  .large-reset-order {
    float: left;
    left: auto;
    right: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .column,
  .columns {
    float: left;
    position: relative;
    padding-left: 0.625em;
    padding-right: 0.625em;

    &.large-centered {
      float: none;
      margin-left: auto;
      margin-right: auto;

      &:last-child {
        float: none;
      }

    }

    &.large-uncentered {
      float: left;
      margin-left: 0;
      margin-right: 0;

      &:last-child {
        float: left;
      }

      &.opposite {
        float: right;
      }

    }

  }

  .row {

    &.large-collapse {

      .row {
        margin-left: 0;
        margin-right: 0;
      }

      & > .column,
      & > .columns {
        padding-left: 0;
        padding-right: 0;
      }

    }

    &.large-uncollapse {

      & > .column,
      & > .columns {
        float: left;
        padding-left: 0.625em;
        padding-right: 0.625em;
      }

    }

  }

  .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

}

/* ******* block grid ******* */

[class*="block-grid-"] {
  display: block;
  margin: 0 -0.625em;
  padding: 0;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  & > .item {
    float: left;
    display: block;
    padding: 0 0.625em 1.25em;
    height: auto;
  }

}

/* ******* block grid - small screen ******* */

@media only screen {

  .small-block-grid-1 {

    & > .item {
      width: 100%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(1n+1) {
        clear: both;
      }

    }

  }

  .small-block-grid-2 {

    & > .item {
      width: 50%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(2n+1) {
        clear: both;
      }

    }

  }

  .small-block-grid-3 {

    & > .item {
      width: 33.33333%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(3n+1) {
        clear: both;
      }

    }

  }

  .small-block-grid-4 {

    & > .item {
      width: 25%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(4n+1) {
        clear: both;
      }

    }

  }

  .small-block-grid-5 {

    & > .item {
      width: 20%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(5n+1) {
        clear: both;
      }

    }

  }

  .small-block-grid-6 {

    & > .item {
      width: 16.66667%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(6n+1) {
        clear: both;
      }

    }

  }

  .small-block-grid-7 {

    & > .item {
      width: 14.28571%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(7n+1) {
        clear: both;
      }

    }

  }

  .small-block-grid-8 {

    & > .item {
      width: 12.5%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(8n+1) {
        clear: both;
      }

    }

  }

  .small-block-grid-9 {

    & > .item {
      width: 11.11111%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(9n+1) {
        clear: both;
      }

    }

  }

  .small-block-grid-10 {

    & > .item {
      width: 10%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(10n+1) {
        clear: both;
      }

    }

  }

  .small-block-grid-11 {

    & > .item {
      width: 9.09091%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(11n+1) {
        clear: both;
      }

    }

  }

  .small-block-grid-12 {

    & > .item {
      width: 8.33333%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(12n+1) {
        clear: both;
      }

    }

  }

}

/* ******* block grid - medium screen ******* */

@media only screen and (min-width: 40.063em) {

  .medium-block-grid-1 {

    & > .item {
      width: 100%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(1n+1) {
        clear: both;
      }

    }

  }

  .medium-block-grid-2 {

    & > .item {
      width: 50%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(2n+1) {
        clear: both;
      }

    }

  }

  .medium-block-grid-3 {

    & > .item {
      width: 33.33333%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(3n+1) {
        clear: both;
      }

    }

  }

  .medium-block-grid-4 {

    & > .item {
      width: 25%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(4n+1) {
        clear: both;
      }

    }

  }

  .medium-block-grid-5 {

    & > .item {
      width: 20%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(5n+1) {
        clear: both;
      }

    }

  }

  .medium-block-grid-6 {

    & > .item {
      width: 16.66667%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(6n+1) {
        clear: both;
      }

    }

  }

  .medium-block-grid-7 {

    & > .item {
      width: 14.28571%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(7n+1) {
        clear: both;
      }

    }

  }

  .medium-block-grid-8 {

    & > .item {
      width: 12.5%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(8n+1) {
        clear: both;
      }

    }

  }

  .medium-block-grid-9 {

    & > .item {
      width: 11.11111%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(9n+1) {
        clear: both;
      }

    }

  }

  .medium-block-grid-10 {

    & > .item {
      width: 10%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(10n+1) {
        clear: both;
      }

    }

  }

  .medium-block-grid-11 {

    & > .item {
      width: 9.09091%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(11n+1) {
        clear: both;
      }

    }

  }

  .medium-block-grid-12 {

    & > .item {
      width: 8.33333%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(12n+1) {
        clear: both;
      }

    }

  }

}

/* ******* block grid - large screen ******* */

@media only screen and (min-width: 64.063em) {

  .large-block-grid-1 {

    & > .item {
      width: 100%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(1n+1) {
        clear: both;
      }

    }

  }

  .large-block-grid-2 {

    & > .item {
      width: 50%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(2n+1) {
        clear: both;
      }

    }

  }

  .large-block-grid-3 {

    & > .item {
      width: 33.33333%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(3n+1) {
        clear: both;
      }

    }

  }

  .large-block-grid-4 {

    & > .item {
      width: 25%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(4n+1) {
        clear: both;
      }

    }

  }

  .large-block-grid-5 {

    & > .item {
      width: 20%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(5n+1) {
        clear: both;
      }

    }

  }

  .large-block-grid-6 {

    & > .item {
      width: 16.66667%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(6n+1) {
        clear: both;
      }

    }

  }

  .large-block-grid-7 {

    & > .item {
      width: 14.28571%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(7n+1) {
        clear: both;
      }

    }

  }

  .large-block-grid-8 {

    & > .item {
      width: 12.5%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(8n+1) {
        clear: both;
      }

    }

  }

  .large-block-grid-9 {

    & > .item {
      width: 11.11111%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(9n+1) {
        clear: both;
      }

    }

  }

  .large-block-grid-10 {

    & > .item {
      width: 10%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(10n+1) {
        clear: both;
      }

    }

  }

  .large-block-grid-11 {

    & > .item {
      width: 9.09091%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(11n+1) {
        clear: both;
      }

    }

  }

  .large-block-grid-12 {

    & > .item {
      width: 8.33333%;
      list-style: none;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(12n+1) {
        clear: both;
      }

    }

  }

}
