
@import 'nib';
// @import 'C:/Users/Neo/AppData/Roaming/npm/node_modules/nib/lib/nib';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700');

/* ******* keyframes ******* */

@keyframes slide {
    to {
        transform translate3d(0,0,0)
        opacity 1
    }
}

/* ******* global styles ******* */

body
    background #2196F3
    color #333
    font 100%/1.5 'Roboto', 'Arial', 'Helvetica', 'sans-serif'
    font-weight 400
    
a
    -webkit-tap-highlight-color rgba(0,0,0,0)
    -webkit-tap-highlight-color transparent
    
::-webkit-input-placeholder,
:-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
::-ms-input-placeholder,
:-ms-input-placeholder
    color #ccc
  
input,
textarea
    border 1px solid #ddd
    border-radius 0
    outline none

.alignleft
    display inline
    float left

.alignright
    display inline
    float right

.aligncenter
    display block
    margin-right auto
    margin-left auto
    
blockquote.alignleft,
img.alignleft,
.wp-caption.alignleft
    margin 0.313em 1.600em 1.600em 0
    
blockquote.alignright,
img.alignright,
.wp-caption.alignright
    margin 0.313em 0 1.600em 1.600em
    
blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter
    clear both
    margin-top 0.313em
    margin-bottom 1.600em
    
h1,
h2,
h3,
h4,
h5,
h6
    padding 0
    
h1
    font-size 2.000rem
    font-weight 300
    margin 0.625em 0
    
h2
    font-size 1.500rem
    font-weight 300
    margin 0.875em 0
    
h3
    font-size 1.125rem
    font-weight 400
    margin 1.000em 0
    
h4
    font-size 1.000rem
    font-weight 400
    margin 1.375em 0
    
h5
    font-size 0.875rem
    font-weight 600
    margin 1.625em 0
    
h6
    font-size 0.625rem
    font-weight 700
    margin 2.375em 0
    
a
    color #1976D2
    text-decoration none
    
    &:hover,
    &:active
        text-decoration underline
        
blockquote
    position relative
    color #0D89EC
    font-size 1.250em
    font-weight 300
    
    a,
    a:hover,
    a:active
        color #ff5252
    
    &:before
        content ''
        position absolute
        display block
        top 0
        left -40px
        margin 0
        padding 0
        width 32px
        height 32px
        background transparent url(../img/post-quote.png) no-repeat
        background-size 32px 32px
        background-position 50%
        
ul,
ol
    font-size 0.875rem
    font-weight 400
    
code,
kbd,
pre,
samp
    font-family monospace
    
pre
    margin 0 0 0.625em
    padding 0.625em
    max-width 100%
    background #eee
    border solid #6ce26c
    border-width 0 0 0 2px
    overflow auto
    outline 1px solid #ccc
    white-space pre-wrap
    word-wrap break-word
    
code
    margin 0 0 0.625em
    padding 0.313em 0.625em
    background #eee
    border solid #6ce26c
    border-width 0 0 0 2px
    outline 1px solid #ccc
    
/* Admin Styles */

#wpadminbar
    position fixed !important

/* Navigation */

.navigation
    position fixed
    display block
    margin 0
    padding 0
    width 100%
    height 3.125em
    background #2196F3
    border-bottom 1px solid darken(#2196F3, 10%)
    line-height 3.125em
    z-index 10
    
    .logo
        display inline-block
        margin -0.125em 0 0
        padding 0
        width 7.188em
        height 2.500em
        
    .navigation-items
        position absolute
        display block
        right 0
        margin 0.313em 0.625em 0 0
        padding 0
        width auto
        height 2.500em
        list-style none
        
        & > li
            float left
            position relative
            margin-right 0.313em
            
            &:last-child
                margin-right 0
                
            a
                display block
                width 40px
                height 40px
                background transparent url(../img/navigation-items.png) no-repeat
                background-size 120px 40px
                transition: all 0.25s ease-in-out 0s;
                
                &#nav-aboutus
                    background-position 0 0
                    
                &#nav-contactus
                    background-position -40px 0
                    
                &#nav-search
                    background-position -80px 0
                    
                &:hover
                    background-color rgba(255,255,255,0.10)
                    box-shadow 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.25)
                    
                &:active
                    background-color rgba(0,0,0,0.10)
                    box-shadow 0 1px 0 rgba(255,255,255,0.25), inset 0 1px 2px rgba(0,0,0,0.25)

/* Post */

.post-details
    position relative
    display block
    margin 0
    padding 0
    width 100%
    height auto
    text-decoration none !important
    
    .details
        position relative
        display block
        margin 1.250em auto
        padding 0 1.250em
        color #333
        z-index 1
        
        span
            color #999
            font-size 0.750rem
        
        i
            position relative
            display inline-block
            top 3px
            margin 0 6px 0 0
            padding 0
            width 12px
            height 12px
            background transparent url(../img/post-formats-colored.png) no-repeat
            background-size 120px 12px
            background-position 0 0
            
            &:before
                color #ff5252
                font 400 1.000rem/normal dashicons
        
        h3
            margin 0
    
    img
        
        &.wp-post-image
            margin 0 auto
            padding 0
            width 100%
            height auto
            background #ddd
            border none
            box-shadow none
            outline none
        
    #posts.single &
        
        .details
            width 88vw
            margin-top 0
            padding 16vh 0 24vh
            color #fff
            text-shadow 0 1px 1px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.25)
            
            i
                background-image url(../img/post-formats-white.png)
                
                &:before
                    color #fff
                    
            a
                color #fff
                
            h3
                padding 0 0.625em
                font-size 200%

#posts
    padding 3.125em 0
    background #eee
    overflow hidden
    
    .row
    
        .column,
        .columns
    
            & > h3
                margin 1.250em 0 0.625em
                padding 0 0 0.313em
                border-bottom 1px solid #ccc
                
            & > p
                margin 0.625em 0
                padding 0
                font-size 0.875rem
                font-weight 400
                
                a
                    color #1976D2
                    text-decoration none
                    
                    &:hover,
                    &:active
                        text-decoration underline
                         
    &.single
                
        .post-details
            background-attachment fixed
            background-position 50% 0
            background-repeat no-repeat
            background-size cover
            text-align center
            
            &:after
                content ''
                position absolute
                display block
                top 0
                left 0
                right 0
                width 100%
                height 100%
                background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%)
            
            span
                color #fff
                
        & > .row
            position relative
            z-index 2
            
        .item
            
            & > .post,
            & > .attachment
                margin -10vh 0 0
                padding 1.250em
                
                & > p
                    padding-left 0
                    padding-right 0
            
        &.format-standard .post-details .details i
            background-position 0 0
            background none
            
            &:before
                content '\f109'
            
        &.format-aside .post-details .details i
            background-position -12px 0
            background none
            
            &:before
                content '\f123'
            
        &.format-image .post-details .details i
            background-position -24px 0
            background none
            
            &:before
                content '\f128'
            
        &.format-video .post-details .details i
            background-position -36px 0
            background none
            
            &:before
                content '\f126'
            
        &.format-quote .post-details .details i
            background-position -48px 0
            background none
            
            &:before
                content '\f122'
            
        &.format-link .post-details .details i
            background-position -60px 0
            background none
            
            &:before
                content '\f103'
            
        &.format-gallery .post-details .details i
            background-position -72px 0
            background none
            
            &:before
                content '\f161'
            
        &.format-status .post-details .details i
            background-position -84px 0
            background none
            
            &:before
                content '\f130'
            
        &.format-audio .post-details .details i
            background-position -96px 0
            background none
            
            &:before
                content '\f127'
            
        &.format-chat .post-details .details i
            background-position -108px 0
            background none
            
            &:before
                content '\f125'

[class*=block-grid-] > .item
    padding-bottom 0
    transform translate3d(0,6.250em,0)
    opacity 0
    
    &.slide
        animation slide 0.6s ease forwards
        
        &:nth-child(odd)
            animation-duration 0.3s
            
    &.visible
        
        &:nth-child(1)
            animation-delay 0.0s
            
        &:nth-child(2)
            animation-delay 0.1s
            
        &:nth-child(3)
            animation-delay 0.2s
            
        &:nth-child(4)
            animation-delay 0.3s
            
        &:nth-child(5)
            animation-delay 0.4s
            
        &:nth-child(6)
            animation-delay 0.5s
            
        &:nth-child(7)
            animation-delay 0.6s
            
        &:nth-child(8)
            animation-delay 0.7s
            
        &:nth-child(9)
            animation-delay 0.8s
            
        &:nth-child(10)
            animation-delay 0.9s

.post,
.attachment
    position relative
    margin 0.625em 0
    padding 0
    background #fafafa
    box-shadow 0 0 0 1px #ccc
    overflow hidden
    transition: all 0.25s ease-in-out 0s;
    
    &:hover
        box-shadow 0 0 0 1px #ccc, 0 2px 4px rgba(0,0,0,0.25)

    &.format-standard .post-details .details i
        background-position 0 0
        background none
        
        &:before
            content '\f109'
        
    &.format-aside .post-details .details i
        background-position -12px 0
        background none
        
        &:before
            content '\f123'
        
    &.format-image .post-details .details i
        background-position -24px 0
        background none
        
        &:before
            content '\f128'
        
    &.format-video .post-details .details i
        background-position -36px 0
        background none
        
        &:before
            content '\f126'
        
    &.format-quote .post-details .details i
        background-position -48px 0
        background none
        
        &:before
            content '\f122'
        
    &.format-link .post-details .details i
        background-position -60px 0
        background none
        
        &:before
            content '\f103'
        
    &.format-gallery .post-details .details i
        background-position -72px 0
        background none
        
        &:before
            content '\f161'
        
    &.format-status .post-details .details i
        background-position -84px 0
        background none
        
        &:before
            content '\f130'
        
    &.format-audio .post-details .details i
        background-position -96px 0
        background none
        
        &:before
            content '\f127'
        
    &.format-chat .post-details .details i
        background-position -108px 0
        background none
        
        &:before
            content '\f125'
        
    & > p
        margin 1.250em 0
        padding 0 1.250em
        font-size 0.875rem
        font-weight 400
        color #666
        
        &#back
            display none
            margin-top 0
            padding-left 0
        
        &.categories,
        &.tags
            margin 0.625em 0 0
            padding 0.625em 1.250em
            border-top 1px solid #eee
            font-size 0.750rem

        &.tags
            margin 0
            
        .more-link,
        .more-link:hover,
        .more-link:active
            display inline-block
            margin 0
            padding 0
            color #666
            text-decoration none
            
    .custom-button
        display inline-block
        margin 0 auto
        padding 0.625em 1.250em
        color #fff
        background #FF5252
        font-size 0.875rem
        text-align center
        text-decoration none
        transition: all 0.25s ease-in-out 0s;
        
        &:hover
            background lighten(#FF5252, 10%)
            box-shadow 0 2px 4px rgba(0,0,0,0.25)
            
        &:active
            background darken(#FF5252, 10%)
            box-shadow inset 0 2px 4px rgba(0,0,0,0.25)
            
    .gallery
        font-size 0.875rem
        font-weight 400
        
        img
            border none !important
            outline 1px solid #fff !important
        
        .wp-caption-text
            margin-top 0.625em
            color #999
            
        &.gallery-columns-1 .gallery-item
            width 100% !important
            
        &.gallery-columns-2 .gallery-item
            width 50.00% !important
            
        &.gallery-columns-3 .gallery-item
            width 33.33% !important
            
        &.gallery-columns-4 .gallery-item
            width 25.00% !important
            
        &.gallery-columns-5 .gallery-item
            width 20.00% !important
            
        &.gallery-columns-6 .gallery-item
            width 16.66% !important
            
        &.gallery-columns-7 .gallery-item
            width 14.28% !important
            
        &.gallery-columns-8 .gallery-item
            width 12.50% !important
            
        &.gallery-columns-9 .gallery-item
            width 11.11% !important
            
    .wp-caption
        
        & > p
            margin 0.625em 0
            color #999
            text-align center
            
    .video-container
        position relative
        margin 0 0 0.625em
        padding-bottom 55.5%
        height 0
        overflow hidden
        
        iframe,
        object,
        embed
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            
    #comments
        border-top 1px solid #eee
            
        ol,
        ul
            list-style none
            
        a
            color #1976D2
            text-decoration none
            
            &:hover,
            &:active
                text-decoration underline
            
        .comment-list
            margin 0
            padding 0
            font-size 0.875rem
            
            .comment-body
                position relative
                margin 0 0 0.625em
                padding 0 0 0.625em
                border-bottom 1px solid #eee
                
                .comment-author
                    display table
                    
                    .comment-author-cell
                        color #999
                        display table-cell
                        line-height 1.250em
                        vertical-align middle
                    
                        .avatar
                            border-radius 50%
                            margin-right 0.625em
                                    
                        .date-time
                            font-size 0.750rem
                            
                .comment-awaiting-moderation
                    color #f90
                    
                .comment-edit-link,
                .comment-reply-link
                    color #FF5252
                    
                    &:hover
                        color lighten(#FF5252, 10%)
                        
                    &:active
                        color darken(#FF5252, 10%)
                        
        .children
            border-left 1px solid #2196F3
            
        #respond
            margin 0
            padding 0
            font-size 0.875rem
            
            .required
                color #FF5252
            
            .comment-form-author,
            .comment-form-email,
            .comment-form-url,
            .comment-form-comment
                
                label
                    display block
                    
                input,
                textarea
                    padding 0.625em
                    width 100%
                    max-width 30.000em
            
            .form-submit
                
                .submit
                    display inline-block
                    margin 0
                    padding 0.625em
                    color #fff
                    background #FF5252
                    border none
                    font-size 0.875rem
                    outline none
                    text-align center
                    text-decoration none
                    transition: all 0.25s ease-in-out 0s;
                    
                    &:hover
                        background lighten(#FF5252, 10%)
                        box-shadow 0 2px 4px rgba(0,0,0,0.25)
                        
                    &:active
                        background darken(#FF5252, 10%)
                        box-shadow inset 0 2px 4px rgba(0,0,0,0.25)
                        
.attachment
    
    .post-details,
    .categories,
    .tags,
    #comments
        display none
        
    p#back
        display block
        
    p.attachment
        margin 0 0 0.625em
        padding 0
        background none
        border none
        box-shadow none
        outline none
        
        img
            width 100%
            height auto
            
/* Post Pagination */

#post-paginations
    text-align center
    
    .post-pagination
        display inline-block
        margin 0.625em
        padding 0.625em
        width 7.813em
        color #fff
        background #FF5252
        font-size 0.875rem
        text-align center
        text-decoration none
        transition: all 0.25s ease-in-out 0s;
        
        &:hover
            background lighten(#FF5252, 10%)
            box-shadow 0 2px 4px rgba(0,0,0,0.25)
            
        &:active
            background darken(#FF5252, 10%)
            box-shadow inset 0 2px 4px rgba(0,0,0,0.25)
        
/* Footer */

#footer
    padding 0.625em 0.625em 6.250em
    color #ddf0ff
    
    h3
        color #fff
    
    p
        margin 0.625em 0
        padding 0
        font-size 0.750rem
        font-weight 400
        
        &.copyrights
            margin-top 1.250em
            padding-top 0.625em
            border-top 1px solid rgba(255,255,255,0.25)
            text-align center
            
    #search-form
        position relative
        display block
        margin 0
        padding 0
        color #333
        
        #search-input
            margin 0
            padding 0 0.625em
            width 100%
            height 2.500em
            border none
            outline none
            
        #search-submit
            position absolute
            display block
            top 5px
            right 5px
            margin 0
            padding 0
            width 30px
            height 30px
            background #1976D2 url(../img/navigation-items.png) no-repeat
            background-size 90px 30px
            background-position -60px 0
            border none
            outline none
            transition: all 0.25s ease-in-out 0s;
            
            &:hover
                background-color lighten(#1976D2, 10%)
                box-shadow 0 2px 4px rgba(0,0,0,0.25)
                
            &:active
                background-color darken(#1976D2, 10%)
                box-shadow inset 0 2px 4px rgba(0,0,0,0.25)

    .footer-social-networks
        margin 0
        padding 0
        font-size 0.750rem
        font-weight 400
        list-style none
        
        & > li
            margin 0 0 0.625em
            padding 0 0 0.625em
            
            &:last-child
                border none
                
            a
                display block
                color #ddf0ff
                text-decoration none
                
                &:hover,
                &:active
                    color #fff
                    text-decoration underline
                    
                span
                    position relative
                    display inline-block
                    top 1px
                    margin 0 5px 0 0
                    padding 0
                    width 12px
                    height 12px
                    background transparent url(../img/followus.png) no-repeat
                    background-size 60px 12px
                    
                    &.facebook
                        background-position 0 0
                        
                    &.twitter
                        background-position -12px 0
                        
                    &.googleplus
                        background-position -24px 0
                        
                    &.youtube
                        background-position -36px 0
                        
                    &.rss
                        background-position -48px 0
